{% extends "_base.html" %}
{% load staticfiles %}
{% block title %}Cart{% endblock %}


{% block content %}
<div class="container mt-3">

  <div class="row">
    {% if cart.items.count > 0%}
    <div id="my-cart" class="col-lg-8 col-md-9 col-sm-12 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Ваша корзина</span>
        <span class="badge badge-secondary badge-pill cart-quantity">{{ cart.items.count }}</span>
      </h4>
      <ul class="list-group mb-3">
        {% for item in cart.items.all %}
          <li class="list-group-item d-flex justify-content-xl-between lh-condensed row product-item">
            <div class="col">
              <h6 class="my-0">{{ item.product.title }}</h6>
              <small class="text-muted">{{ item.product.description }}</small>
            </div>
            <span class="text-muted mr-3 item-total">{{ item.item_total }} руб.</span>
            <form class="quantity-form mr-3" action="#" method="GET">
              <input type="number" class="" name="quantity" value="{{item.quantity}}" data-id={{item.pk}} min="1" style="width:50px">
            </form>
            <form action="#">
              <input type="submit" class="btn btn-secondary remove-from-cart col" data-slug="{{item.product.slug}}" value="Удалить">
            </form>
          </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-center lh-condensed row product-item">
          <h5 id="cart-total" class="text-center">Итоговая стоимость: {{ cart.cart_total }} руб.</h5>
        </li>
      </ul>
      <form action="{% url 'checkout' %}" class="card p-2">
        <button type="submit" class="btn btn-secondary">Заказать</button>
      </form>
    </div>
    {% endif %}
    <div id="cart-empty" class="col-lg-8 col-md-9 col-sm-12 order-md-2 mb-4 my-cart" style="{% if cart.items.count > 0%}display:none{% endif %}">
      <li class="list-group-item d-flex justify-content-center lh-condensed row product-item">
        <h5 class="text-center">Ваша корзина пуста!</h5>
      </li>
    </div>
  </div>

</div>
{% include "includes/change_item_quantity_script.html" %}
{% include "includes/remove_from_cart_script.html" %}
{% endblock %}
